* {
  box-sizing: border-box;
}

span {
  display: block;
}

.username {
  width: 350px;
  height: 180px;
  border-radius: 40px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  background-color: #eee;
  /* box-shadow: 10px 10px 25px lightgray; */
  filter: blur(0.5);
  margin: 0 auto;
  margin-top: 40vh;
}

.username span:first-child {
  font-size: 22px;
  color: #666;
  height: 50px;
}

.username span:last-child {
  height: 50px;
}

.userinput {
  border: none;
  border-bottom: 2px solid #666;
  background: transparent;
  width: 200px;
  height: 30px;
  font-size: 16px;
  caret-color: orange;
  color: #666;
}

.userinput:focus {
  outline: none;
  border-bottom: 2px solid white;
  transition: all ease 0.3s;
}

.userbutton {
  width: 45px;
  height: 30px;
  border: none;
}

.userbutton:hover {
  transform: scale(1.2);
  transition: all ease 0.3s;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

span, label {
  display: block;
}

em {
  font-style: normal;
}

.hidden {
  display: none;
}

.container > nav > ul, .container > .weather > div, .container > .music > div, .container > main > div {
  width: 90%;
  height: 80%;
  display: block;
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;
  margin-top: 2vh;
  border: 1px solid #eef;
  background-color: rgba(255, 255, 255, 0.198);
  box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2), -12px -5px 31px #ffffff;
}

.container > .clock > ul, .container > footer > ul {
  margin: 0 auto;
  width: 370px;
  height: 260px;
  display: flex;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.198);
  box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2), -12px -5px 31px #ffffff;
}

.box {
  width: 1250px;
  height: 720px;
  display: block;
  background-color: #eee;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3), -20px -20px 25px rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  margin-top: 8vh;
  border-radius: 3vh;
  backdrop-filter: blur(10px);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 100px);
}

.container > header {
  grid-column: 1 / 5;
}

.container > header > div:last-child {
  width: 100%;
  height: inherit;
  display: block;
  font-size: none;
  text-align: center;
  line-height: 50px;
  margin-top: 40px;
}

.container > header > div:last-child > h3 {
  font-weight: 300;
}

.container > header > div:first-child {
  float: right;
  width: 60px;
  height: 30px;
  display: block;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  margin: 10px 30px 0 0;
  color: #666;
  cursor: pointer;
}

.container > nav {
  grid-row: 2/4;
}

.container > nav > ul > li {
  width: inherit;
  height: 40px;
  display: block;
  font-size: 22px;
  text-align: none;
  line-height: 40px;
  margin-top: 5px;
}

.container > nav > ul > li:nth-of-type(1) {
  font-size: 28px;
  font-weight: 800;
}

.container > nav > ul > li:last-child {
  width: 325px;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.container > nav > ul > li:last-child > span {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.container > nav > ul > li:last-child > span:last-child {
  width: auto;
  font-weight: 600;
  font-size: 16px;
}

.container > .weather {
  grid-row: 4/6;
}

.container > .weather > div {
  display: flex;
}

.container > .weather > div > span {
  width: 110px;
  height: 120px;
  display: block;
  font-size: 80px;
  text-align: center;
  line-height: none;
  margin-left: 20px;
  user-select: none;
}

.container > .weather > div > ul {
  width: inherit;
  height: 110px;
  display: block;
  padding: 10px 20px 20px 60px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.container > .weather > div > ul > li {
  width: inherit;
  height: 20px;
  display: block;
  font-size: 20px;
}

.container > .weather > div > ul > li:first-child {
  font-size: 3em;
  text-align: none;
  line-height: 60px;
  height: 60px;
}

.container > .music {
  grid-row: 6/8;
}

.container > .music > div {
  display: flex;
  flex: row nowrap;
}

.container > .music > div > span {
  width: 100px;
  height: 100px;
  display: block;
}

.container > .music > div > span > img {
  width: inherit;
  height: 100px;
  display: block;
  object-fit: contain !important;
}

.container > .music > div > ul {
  width: 210px;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: end;
  margin-left: 20px;
}

.container > .music > div > ul > li:nth-of-type(2), .container > .music > div > ul > li:nth-of-type(3), .container > .music > div > ul > li:nth-of-type(4) {
  width: 40px;
  height: 40px;
  display: block;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  background-color: #eee;
  box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2), -5px -5px 15px #ffffff;
  border-radius: 10px;
  cursor: pointer;
  color: #666;
  transition: all 0.2s ease;
}

.container > .music > div > ul > li:nth-of-type(2):hover, .container > .music > div > ul > li:nth-of-type(3):hover, .container > .music > div > ul > li:nth-of-type(4):hover {
  background-color: #fff;
}

.container > .music > div > ul > .play {
  background: url("../music/play.svg") no-repeat center center;
}

.container > .music > div > ul > .pause {
  background: url("../music/pause.svg") no-repeat center center;
}

.container > .music > div > ul > .forward {
  background: url("../music/forward.svg") no-repeat center center;
}

.container > .music > div > ul > .rewind {
  background: url("../music/rewind.svg") no-repeat center center;
}

.container > .music > div > ul > li:first-child {
  width: 180px;
  height: 50px;
  display: block;
}

.container > .music > div > ul > li:first-child > span {
  float: left;
  margin-bottom: 5px;
  font-size: 15px;
  text-align: auto;
  line-height: auto;
}

.container > .music > div > ul > li:first-child > em {
  font-size: 12px;
}

.container > .music > div > ul > li:first-child > em:last-child {
  float: right;
}

.container > .music > div > ul > li:first-child > .musicbar {
  appearance: none;
  width: 180px;
  height: 5px;
  display: block;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  overflow: hidden;
}

.container > .music > div > ul > li:first-child > .musicbar::-webkit-slider-thumb {
  appearance: none;
  width: 0px;
  height: 5px;
  display: block;
  box-shadow: -300px 0 0 300px #b7b7f8;
}

.container > main {
  grid-row: 2 / 8;
}

.container > main > div {
  width: none;
  height: 560px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), #eee);
}

.container > main > div > h2 {
  width: 325px;
  height: 50px;
  display: block;
  font-size: 28px;
  text-align: left;
  line-height: 50px;
  margin: 0;
  user-select: none;
  border-bottom: 2px solid #dedef8;
}

.container > main > div > ul {
  height: 80%;
}

.container > main > div > ul > li {
  user-select: none;
  width: 325px;
  height: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  transition: all 0.2s ease;
}

.container > main > div > ul > li:hover {
  background-color: #eee;
}

.container > main > div > ul > li > span:first-child {
  width: 250px;
  text-indent: 10px;
  font-size: 15px;
}

.container > main > div > ul > li > div {
  width: 30px;
  height: 30px;
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.container > main > div > ul > li > button {
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  border: none;
}

.container > main > div > form > span {
  width: 325px;
  height: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.2);
  background-color: lavender;
}

.container > main > div > form > span > input {
  width: 280px;
  height: 25px;
  display: block;
  border: none;
  background: none;
}

.container > main > div > form > span > input:focus {
  outline: none;
}

.container > .clock {
  grid-row: 2/5;
  padding: 20px;
}

.container > .clock > ul {
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.container > .clock > ul > li {
  width: 310px;
  height: 70px;
  display: block;
  font-size: 35px;
  text-align: center;
  line-height: 70px;
  margin-top: 20px;
}

.container > .clock > ul > li:nth-of-type(2) {
  font-size: 50px;
  font-weight: 600;
  text-shadow: 5px 5px 3px #ccc;
}

.container > .clock > ul > li:last-child {
  width: inherit;
  height: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: end;
  margin-bottom: 10px;
}

.container > .clock > ul > li:last-child > div {
  width: 50px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.2);
  background-color: lavender;
  margin-right: 20px;
}

.container > .clock > ul > li:last-child > div > span {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 3px 3px 5px #ccc;
  position: absolute;
  cursor: pointer;
}

.container > footer {
  grid-row: 5/8;
  padding: 20px;
}

.container > footer > ul {
  padding: 25px;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}

.container > footer > ul > li {
  width: 70px;
  height: 70px;
  display: block;
  margin: 0 17.5px 0 17.5px;
  border-radius: 20px;
  box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2), -12px -5px 31px #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container > footer > ul > li > a {
  width: inherit;
  height: inherit;
  display: block;
}

.container > footer > ul > li:hover {
  transform: scale(1.1);
}

.container > footer > ul > li:nth-of-type(1) {
  background: url("../img/bookmark.png") no-repeat -38px -38px;
}

.container > footer > ul > li:nth-of-type(2) {
  background: url("../img/bookmark.png") no-repeat -140px -38px;
}

.container > footer > ul > li:nth-of-type(3) {
  background: url("../img/bookmark.png") no-repeat -244px -38px;
}

.container > footer > ul > li:nth-of-type(4) {
  background: url("../img/bookmark.png") no-repeat -38px -140px;
}

.container > footer > ul > li:nth-of-type(5) {
  background: url("../img/bookmark.png") no-repeat -142px -140px;
}
