*{box-sizing: border-box;}
span{ display: block;}
.username{
    width: 350px;
    height: 180px;
    border-radius: 40px;
    padding:50px;
    box-sizing: border-box;
    position: relative;
    background-color: #eee;
    /* box-shadow: 10px 10px 25px lightgray; */
    // box-shadow: 6px 10px 28px rgb(0 0 0 / 10%) ,-12px -5px 31px #ffffff;
    filter: blur(0.5);
    margin: 0 auto;
    margin-top: 40vh;
}
.username span:first-child{
    font-size: 22px;
    color: #666;
    height: 50px;
}
.username span:last-child{
    height: 50px;
}
.userinput{
    border: none;
    border-bottom: 2px solid #666;
    background: transparent;
    width: 200px;
    height: 30px;
    font-size: 16px;
    caret-color: orange;
    color: #666;
}
.userinput:focus{
    outline: none;
    border-bottom: 2px solid white;
    transition: all ease 0.3s;
}
.userbutton{
  width: 45px;
    height: 30px;
    border: none;
}
.userbutton:hover{
    transform: scale(1.2);
    transition: all ease 0.3s;
}

body{
    padding: 0;
    margin: 0 ;
    background-color: #eee;
}
ul,ol,dl{
    list-style: none;
    margin: 0;
    padding: 0;
}
span,label{
    display: block;
}
em{
    font-style: normal;
}
@mixin  base($w,$h,$display){
    width: $w;
    height: $h;
    display: $display;
}
@mixin flex($f,$just,$align){
    flex-flow: $f;  //row, wrap
    justify-content: $just;
    align-items: $align;
}
@mixin grid($column,$rows){
    // ex) grid-template-columns : 100px 2fr 1fr;
    grid-template-columns: $column;    
    // 1fr repeat(3,1fr) or 200px or 200px 1fr
    grid-template-rows: $rows;
    // grid-template-area : 오브젝트에서 직접 핸들링
}
@mixin font($fonts,$align,$lheg){
    font-size: $fonts;
    text-align: $align;
    line-height: $lheg;
}

.hidden{display: none;}
%frame{
    @include base(90%, 80%,block);
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    margin-top: 2vh;
    border: 1px solid #eef;
    background-color: rgba(255, 255, 255, 0.198);
    box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2) ,-12px -5px 31px #ffffff;
}
%frame2{
    margin: 0 auto;
    @include base(370px, 260px ,flex );
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.198);
    box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2) ,-12px -5px 31px #ffffff;
}

.box{
    @include base( 1250px, 720px ,block);
    background-color: #eee;
    box-shadow: 10px 20px 20px rgba(0,0,0, 0.3) , -20px -20px 25px rgba(255,255,255,0.4);
    margin: 0 auto;
    margin-top: 8vh;
    border-radius: 3vh;
    backdrop-filter: blur(10px);
}
.container{
    display: grid;
    @include grid(repeat(3,1fr) , repeat(7, 100px) );
    &>header{ 
        grid-column: 1 / 5;
        &>div:last-child{
            @include base(100%, inherit, block);
            @include font(none,center ,50px );
            margin-top: 40px;
            &>h3{
                font-weight: 300;
            }
        }
        &>div:first-child{
            float: right;
            @include base(60px,30px ,block );
            @include font( 12px, center ,30px );
            margin: 10px 30px 0 0 ;
            color: #666;
            cursor: pointer;
        }
    }
    // --------------------- quote -------------------------
    &>nav{
        grid-row: 2/4; 
        &>ul{
            @extend %frame;
            &>li{
                @include base(inherit, 40px ,block );
                @include font(22px,none ,40px );
                margin-top: 5px;
                &:nth-of-type(1){
                    font-size: 28px;
                    font-weight: 800;
                }
                &:last-child{
                    @include base( 325px,40px , flex);
                    @include flex(row nowrap, space-between, center);
                    &>span{
                        height: 40px;
                        line-height: 40px;
                        font-size: 20px;
                    }
                    &>span:last-child{ width: auto; font-weight: 600; font-size: 16px;}
                }
            }
        }
    }
    // -------------------- welcome -----------------
    &>.weather{
        grid-row:4/6;
        &>div{
            @extend %frame;
            display: flex;
            &>span{
                @include base(110px,120px ,block );
                @include font(80px,center ,none );
                margin-left: 20px;
                user-select: none;
            }
            &>ul{
                @include base(inherit, 110px ,block );
                padding: 10px 20px 20px 60px;
                @include flex(row nowrap, center ,center );
                &>li{
                    @include base( inherit,20px,block );
                    font-size: 20px;
                    &:first-child{
                        @include font(3em,none,60px);
                        height: 60px;
                    }
                }
            }
        }
    }
    //---------------- weather ------------------
    &>.music{
        grid-row:6/8;
        &>div{
            @extend %frame;
            display: flex;
            flex: row nowrap;
            &>span{
                @include base(100px,100px ,block );
                &>img{
                    @include base(inherit,100px ,block );
                    object-fit: contain !important;
                }
            }
            &>ul{
                @include base(210px,100px ,flex );
                @include flex(row wrap, space-around, end);
                margin-left: 20px;
                &>li:nth-of-type(2),&>li:nth-of-type(3),&>li:nth-of-type(4){
                    @include base(40px,40px,block );
                    @include font(25px,center ,50px );
                    background-color: #eee;
                    box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2) ,-5px -5px 15px #ffffff;
                    border-radius: 10px;
                    cursor: pointer;
                    color: #666;
                    transition: all 0.2s ease;
                    &:hover{
                        background-color: #fff;
                    }
                }
                &>.play{background: url("../music/play.svg") no-repeat center center;}
                &>.pause{background: url("../music/pause.svg") no-repeat center center;}
                &>.forward{background: url("../music/forward.svg") no-repeat center center;}
                &>.rewind{background: url("../music/rewind.svg") no-repeat center center;}
                &>li:first-child{
                    @include base(180px, 50px , block );
                    &>span{
                        float: left;
                        margin-bottom: 5px;
                        @include font(15px,auto ,auto );
                    }
                    &>em{
                        font-size: 12px;
                        &:last-child{
                            float: right;
                        }
                    }
                    &>.musicbar{
                        appearance: none;
                        @include base(180px,5px ,block );
                        border-radius: 5px;
                        background-color: #ccc;
                        cursor: pointer;
                        overflow: hidden;
                        &::-webkit-slider-thumb{
                            appearance: none;
                            @include base(0px,5px ,block );
                            box-shadow: -300px 0 0 300px rgb(183, 183, 248);
                        }
                    }
                }
            }
        }
    }
    // -----------------------music --------------------
    &>main{
        grid-row : 2 / 8;
        &>div{
            @extend %frame;
            @include base( none, 560px ,flex );
            @include flex(column nowrap, space-between , center );
            background: linear-gradient(135deg, rgba(255,255,255,0.6) ,#eee);
            &>h2{
                @include base(325px,50px ,block );
                @include font(28px, left , 50px );
                margin: 0;
                user-select: none;
                border-bottom: 2px solid rgb(222, 222, 248);
            }
            &>ul{
                height: 80%;
                &>li{
                    user-select: none;
                    @include base(325px,30px , flex);
                    @include flex(row wrap, space-between , center );
                    margin-top: 10px;
                    transition: all 0.2s ease;
                    &:hover{
                        background-color: #eee;
                    }
                    &>span:first-child{
                        width: 250px;
                        text-indent: 10px;
                        font-size: 15px;
                    }
                    &>div{
                        @include base(30px,30px ,block );
                        @include font(14px,center ,30px );
                        cursor: pointer;
                    }
                    &>button{
                        @include base(30px, 30px ,block );
                        cursor: pointer;
                        border: none;
                    }
                }
            }
            &>form>span{
                @include base(325px,30px,flex);
                @include flex(row wrap, center , center );
                border-radius: 30px;
                box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.2);
                background-color: lavender;
                &>input{
                    @include base(280px, 25px,block );
                    border: none;
                    background: none;
                    &:focus{
                        outline: none;
                    }
                }               
            }
        }
    }
    // ---------------- ToDo -------------------
    &>.clock{
        grid-row:2/5;
        padding: 20px;
        &>ul{
            @extend %frame2;
            @include flex(column nowrap, space-around , center );
            &>li{
                @include base(310px,70px ,block);
                @include font(35px,center ,70px );
                margin-top: 20px;
                &:nth-of-type(2){
                    font-size: 50px;
                    font-weight: 600;
                    text-shadow: 5px 5px 3px #ccc;
                }
                &:last-child{
                    @include base(inherit,30px ,flex );
                    @include flex(column, center ,end );
                    margin-bottom: 10px;
                    &>div{
                        @include base(50px,20px ,block );
                        position: relative;
                        border-radius: 20px;
                        box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.2);
                        background-color: lavender;
                        margin-right: 20px;
                        &>span{
                            @include base(20px,20px ,block );
                            border-radius: 100%;
                            background-color: #fff;
                            box-shadow: 3px 3px 5px #ccc;
                            position: absolute;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    // ---------------------- clock ------------------------
    &>footer{
        grid-row:5/8; 
        padding: 20px;
        &>ul{
            @extend %frame2;
            padding: 25px;
            @include flex(row wrap, start ,center );
            &>li{
                @include base(70px,70px ,block );
                &>a{
                    @include base(inherit,inherit ,block );
                }
                margin:0 17.5px 0 17.5px;
                border-radius: 20px;
                box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2) ,-12px -5px 31px #ffffff;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover{
                    transform: scale(1.1);
                }
                &:nth-of-type(1){background: url("../img/bookmark.png") no-repeat -38px -38px;}
                &:nth-of-type(2){background: url("../img/bookmark.png") no-repeat -140px -38px;}
                &:nth-of-type(3){background: url("../img/bookmark.png") no-repeat -244px -38px;}
                &:nth-of-type(4){background: url("../img/bookmark.png") no-repeat -38px -140px;}
                &:nth-of-type(5){background: url("../img/bookmark.png") no-repeat -142px -140px;}
            }
        }
    }
}